NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_UPLOAD_BUCKET=media
GNEWS_API_KEY=
NEXT_PUBLIC_FINNHUB_API_KEY=
FINNHUB_API_KEY=
NEXT_PUBLIC_ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
NEXT_PUBLIC_ADSENSE_CLIENT_ID=
NEXT_PUBLIC_ADSENSE_SLOT_INARTICLE=
CORS_ALLOWED_ORIGINS=
MB_DB_HOST=
MB_DB_PORT=
MB_DB_DBNAME=
MB_DB_USER=
MB_DB_PASS=
